{% extends 'base.html' %}

{% block content %}

{% load static %}


<h4>ASSIGNMENTS</h4>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pe-tab" data-bs-toggle="tab" data-bs-target="#pe" type="button" role="tab" aria-controls="pe" aria-selected="true">Production Electrician</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="designer-tab" data-bs-toggle="tab" data-bs-target="#designer" type="button" role="tab" aria-controls="designer" aria-selected="false">Designer</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="programmer-tab" data-bs-toggle="tab" data-bs-target="#programmer" type="button" role="tab" aria-controls="programmer" aria-selected="false">Programmer</button>
    </li>
</ul>

<div class="tab-content" id="workNotesTab">
    <div class="tab-pane fade show active" id="pe" role="tabpanel" aria-labelledby="pe-tab">
    {% if peWorkNotes %}
    <table class="table table-dark table-hover " id="pe-assignments">
        <thead>
        <tr class="tableHead">
            <th>NOTE</th>
            <th>CHANNEL(s)</th>
            <th>CUE</th>
            <th>CREATED BY</th>
            <th>ASSIGNED TO</th>
            <th>PRIORITY</th>
            <th>GROUP?</th>
            <th></th>
    </tr>
        </thead>
        {% if peWorkNotes %}
            {% for workNote in peWorkNotes %}
                <tr class="workNoteRow">
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                    <td data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{% if workNote.forGroup %} <input type="checkbox" checked> {% else %}  <input type="checkbox">  {% endif %}</td>
                    <!-- DELETE BUTTON -->
                    <td>
                        <a href="completeNote/{{workNote.id}}" class="btn btn-secondary"><i class="fa fa-check"> </i></a>
                    </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% endif %}
    </div>
        <div class="tab-pane fade" id="designer" role="tabpanel" aria-labelledby="designer-tab">
        {% if designerWorkNotes %}
        <table class="table table-dark table-hover " id="designer-assignments">
            <thead>
            <tr class="tableHead">
                <th>NOTE</th>
                <th>CHANNEL(s)</th>
                <th>CUE</th>
                <th>CREATED BY</th>
                <th>ASSIGNED TO</th>
                <th>PRIORITY</th>
                <th>GROUP?</th>
                <th></th>
        </tr>
            </thead>
            {% if designerWorkNotes %}
                {% for workNote in designerWorkNotes %}
                    <tr class="workNoteRow">
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                        <td data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{% if workNote.forGroup %} <input type="checkbox" checked> {% else %}  <input type="checkbox">  {% endif %}</td>
                        <!-- DELETE BUTTON -->
                        <td>
                            <a href="completeNote/{{workNote.id}}" class="btn btn-secondary"><i class="fa fa-check"> </i></a>
                        </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% endif %}
        </div>
    <div class="tab-pane fade" id="programmer" role="tabpanel" aria-labelledby="programmer-tab">
        {% if programmerWorkNotes %}
        <table class="table table-dark table-hover " id="programmer-assignments">
            <thead>
            <tr class="tableHead">
                <th>NOTE</th>
                <th>CHANNEL(s)</th>
                <th>CUE</th>
                <th>CREATED BY</th>
                <th>ASSIGNED TO</th>
                <th>PRIORITY</th>
                <th>GROUP?</th>
                <th></th>
        </tr>
            </thead>
            {% if programmerWorkNotes %}
                {% for workNote in programmerWorkNotes %}
                    <tr class="workNoteRow">
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                        <td data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{% if workNote.forGroup %} <input type="checkbox" checked> {% else %}  <input type="checkbox">  {% endif %}</td>
                        <!-- DELETE BUTTON -->
                        <td>
                            <a href="completeNote/{{workNote.id}}" class="btn btn-secondary"><i class="fa fa-check"> </i></a>
                        </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% endif %}
    </div>
</div>

<h4>NOTES</h4>
    <a href="createWorkNote" class="authButton">ADD NOTE</a>
        <table class="table table-dark table-hover " id="work-notes">
            <thead>
            <tr class="tableHead">
                <th>NOTE</th>
                <th>CHANNEL(s)</th>
                <th>CUE</th>
                <th>CREATED BY</th>
                <th>ASSIGNED TO</th>
                <th>PRIORITY</th>
                <th>GROUP?</th>
                <th>DONE</th>
            </tr>
            </thead>
            {% if activeWorkNotes %}
                {% for workNote in activeWorkNotes %}
                    <tr class="workNoteRow">
                        <td class="editable" data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                        <td class="editable" data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                        <td class="editable" data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                        <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                        <td class="editable" data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                        <td class="editable" data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                        <td class="editable" data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{{workNote.forGroup}}</td>
                        <!-- DONE BUTTON -->
                        <td>
                            <a href="completeNote/{{workNote.id}}" class="btn btn-secondary"><i class="fa fa-check"> </i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

<h4>FOR THE GROUP</h4>
{% if activeWorkNotes %}
    <table class="table table-dark table-hover " id="work-notes">
        <thead>
        <tr class="tableHead">
            <th>NOTE</th>
            <th>CHANNEL(s)</th>
            <th>CUE</th>
            <th>CREATED BY</th>
            <th>ASSIGNED TO</th>
            <th>PRIORITY</th>
            <th>GROUP?</th>
            <th></th>
    </tr>
        </thead>
        {% if activeWorkNotes %}
            {% for workNote in activeWorkNotes %}
                {% if workNote.forGroup %}
                <tr class="workNoteRow">
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                    <td data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{% if workNote.forGroup %} <input type="checkbox" checked> {% else %}  <input type="checkbox">  {% endif %}</td>
                    <!-- DELETE BUTTON -->
                    <td>
                        <a href="completeNote/{{workNote.id}}" class="btn btn-secondary"><i class="fa fa-check"> </i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
{% endif %}
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false" aria-controls="demo"> COMPLETED NOTES</button>

<div id="demo" class="collapse">  
{% if completedWorkNotes %}
    <table class="table table-dark table-hover " id="work-notes">
        <thead>
        <tr class="tableHead">
            <th>NOTE</th>
            <th>CHANNEL(s)</th>
            <th>CUE</th>
            <th>CREATED BY</th>
            <th>ASSIGNED TO</th>
            <th>PRIORITY</th>
            <th>GROUP?</th>
        </tr>
        </thead>
        {% if completedWorkNotes %}
            {% for workNote in completedWorkNotes %}
                <tr class="workNoteRow">
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="noteText" scope="row" data-model="workNote">{{workNote.noteText}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="channelList" data-model="workNote"> {{workNote.channelList}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="cue" data-model="workNote"> {{workNote.cue}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="createdBy" data-model="workNote">{{workNote.createdBy.getName}}</td>
                    <td data-id="{{ workNote.id }}" data-input="choice" data-type="assignedTo" data-model="workNote">{{workNote.assignedTo}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="priority" data-model="workNote">{{workNote.priority}}</td>
                    <td data-id="{{ workNote.id }}" data-input="text" data-type="forGroup" data-model="workNote">{% if workNote.forGroup %} <input type="checkbox" checked> {% else %}  <input type="checkbox">  {% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endif %}
</div>

{% endblock content %}

{% block extrascripts %}
<!-- Datatables -->
<script>

    //initialize Work Notes
    $(document).ready( function () {
        dTable=$('#work-notes').DataTable({
            paging: false,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
            // dom: "lrtip" //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
        });
    } );

    // $('#myCustomSearchBox').keyup(function() {
    //     dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
    // })

    //initialize Focus Notes
    $(document).ready( function () {
        dTable=$('#focus-notes').DataTable({
            paging: false,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
            // dom: "lrtip" //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
        });
    } );
    //initialize Programming Notes
    $(document).ready( function () {
        dTable=$('#programming-notes').DataTable({
            paging: false,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
            // dom: "lrtip" //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
        });
    });

    // 
    // EDITABLE TABLES
    // 

    $(document).ready(function() {
        $(document).on("click",".editable",function(){
            var value=$(this).text();
            var data_type=$(this).data("type");
            var data_input=$(this).data("input");

            //Editable table - Choice selections
            //This will be used for model fields - Operator, Focus, Shot, ColorFlag
            if(data_input == "choice"){
                if(data_type=="assignedTo")
                {
                    var input="<select class='input-data form-control'> {% for option in assignees %} <option label='{{option.name}}' value='{{option.id}}'> {{option}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
            }
            //Editable table - Text/Integer input
            //This will be used for all Cue fields, and for Intensity and Fade Time
            else{
                var input_type="text";
                if(data_type=="created_at")
                {
                    input_type="datetime-local";
                }

                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            }
        });
        $(document).on("blur",".input-data",function(){
            var value=$(this).val();
            var td=$(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type=td.data("type");
            var model = td.data("model")
            sendToServer(td.data("id"),value,type, model);
        });


        $(document).on("keypress",".input-data",function(e){
            var key=e.which;
            if(key==13){
                var value=$(this).val();
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                var model = td.data("model")
                sendToServer(td.data("id"),value,type, model);
            }
        });
        function sendToServer(id,value,type, model){
            console.log(id);
            console.log(value);
            console.log(type);
            if(model == "workNote"){
                $.ajax({
                url:"updateWorkNote/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }

            //Reload page elements
            location.reload();
        };
    });
</script>

{% endblock extrascripts %}
