@charset "UTF-8";


/* -------------------------------------------------------------- */
/* Import font
----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@100;200;300;400;500;600;700&amp;display=swap");
 
body,
html {
  height: 100%;
  background-color: #212529 !important;
  font-family: 'Courier Prime', Courier, monospace;
  color:azure;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*  */
/* PAGE TRANSITIONS */
/*  */
body {
  animation: fadeInAnimation ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/*  */
/* TABLES */
/*  */

.table{
  color: azure !important;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: red;
}

/*  */
/* BUTTONS */
/*  */

.loginPane{
  border-style: dashed;
  border-color: azure;
  border-width: 1.75px;
  border-radius: 5px;
}

.loginContent{
  padding: 10%;
  margin: 5%;
}

/* BUTTONS */
/* Authentication Buttons */
a.authButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.authButton:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.authButton{
    display:block;
    margin:0.4em auto;
  }
}
/* In-App Buttons (currently no different, potentially could refactor in the future) */
a.appButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.appButton:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.appButton{
    display:block;
    margin:0.4em auto;
  }
}

/*  */
/* ACCORDION */
/*  */
.accordion-item {
  border: 1px solid rgba(35, 65, 100, .15);
  background: rgb(42, 46, 51);
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background: rgb(101, 104, 109);
  color: #e8e8e8;
}

.accordion-button:is(.collapsed) {
  color: inherit;
  background: rgb(87, 90, 94);
  color: #e8e8e8;
}


.accordion-button:not(.collapsed)::after  {
  filter: brightness(00%) invert(70%);
}

.accordion-button:focus {
  box-shadow: inherit;
}

@media (max-width: 767px) {
  .accordion-body h3 {
      font-size: calc(.95rem + 1.5vw);
  }
}

/* This will be under the content - forms almost a dropshadow */
.modal-dialog{
  background-color: rgb(42, 46, 51);
}

.modal-content{
  background-color: rgb(42, 46, 51);
  padding: 1rem;
}

.center {
  text-align: center;
}


/*  */
/* Datatables stuff */
/*  */

label{
  color: lightgray;
}

.dataTables_info{
  color: lightgray !important;
}