@charset "UTF-8";


/* -------------------------------------------------------------- */
/* Import font
----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@100;200;300;400;500;600;700&amp;display=swap");
 
body,
html {
  height: 100%;
  background-color: black !important;
  font-family: 'Courier Prime', Courier, monospace;
  color:azure;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*  */
/* PAGE TRANSITIONS */
/*  */
body {
  animation: fadeInAnimation ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}




/*  */
/* AUTH */
/*  */

.loginPane{
  border-style: dashed;
  border-color: azure;
  border-width: 1.75px;
  border-radius: 5px;
}

.loginContent{
  padding: 10%;
  margin: 5%;
}

/* BUTTONS */
a.authButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.authButton:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.authButton{
    display:block;
    margin:0.4em auto;
  }
}
  